/*
Theme Name: underboot
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: underboot
Tags:
*/

/*============ H element TEMPLATE CLEAN UP=============*/
.header {
	/*margin-top:40px;*/
	margin-bottom:0px;
}

.h1-class {
	color:#013e7f;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.3em;
	padding:15px 0px;
}

.home-h1-class {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.3em;
	margin: 0px auto 0px auto;
	text-align:center;
	color:white;
	background-color:rgb(6, 51, 99);
	padding-bottom:0px
}

.h2-class {
	color: #013e7f;
	font-size: 28px;
	font-weight: 600;cen
	line-height: 1.3em;
	padding:15px 0px;
}


.h3-class {
	color: #013e7f;
	margin-top: 20px;
    margin-bottom: 10px;
	
}

.h4-class {
	
	color: #013e7f;
	font-size:18px;
	font-weight: 600;
	line-height: 1.3em;
	padding:15px 0px;
}

.center {
	text-align:center;
}


/*============ END TEMPLATE CLEAN UP=============*/





/*custom styles that override Bootstrap live here*/


html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
body {
	font-family: "Open Sans", sans-serif;
}
h1,.h1-class,h2,.h2-class,h3,.h3-class,h4,.h4-class,h5,h6,p{
	margin: 0px;
	padding:0px;
}
h1{
	color:#013e7f;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.3em;
	padding:15px 0px;
}
h2{
	color: #013e7f;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.3em;
	padding:15px 0px;
}
h3{
	margin-top: 20px;
    margin-bottom: 10px;
	color: #013e7f;
	
}
h4{
	color: #013e7f;
	font-size:18px;
	font-weight: 600;
	line-height: 1.3em;
	padding:15px 0px;
	color: #013e7f;
}
h5{
color: #013e7f;
}
h6{
color: #013e7f;
}
p{
	font-size: 15px;
	word-wrap: break-word;
	margin: 0 0 10px;
	font-weight: 400;
}
span{
    font-size: 14px;
    line-height: 15px;
    color: #898989;
}
a{
	color: #337ab7;
	text-decoration: none;
}
input,select,textarea{
	border-radius: 0px;
}
.page .widget-area li{
	padding:5px 0px;
}
.iframe-handler iframe{
	max-width: 100%;
}

.img-responsive {
    margin: 0 auto !important;
}
.img-responsive2 {
	width:auto;
    max-width:100%;
}

.clearfix{
   clear: both;
}

.btn-blue{
	background-color: #013e7f;
	border: 0px;
	color: #fff;
	cursor:pointer;
	display: inline-block;
    font-size: 14px;
    line-height: 42px;
    margin:0px auto;
    padding: 0 20px;
    text-decoration: none !important; 
}
.btn-blue:hover{
	color:#fff;
	background-color: #062f5a;
}

.contact-us-bar-text {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 15px 0px;
}

/* SLICK DOTS */
.slick-dots{
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-top:40px;
	text-align:center;
}
.slick-dots li{
	display:inline-block;
}
.slick-dots button{
	background-color: #444;
	border: 0px;
	border-radius: 50px;
	font-size:0px;
	margin:0px 13px;
	opacity: 0.7;
	padding:6px;
}
.slick-active button{
	opacity: 1;
}

.blog-slider-section .slick-prev{
	position: absolute;
    top: 43%;
    left: 0px;
    z-index:10;
}
.blog-slider-section .slick-next{
	position: absolute;
    top: 43%;
    right: 0px;
    z-index:10;
}

/* BLOG SLIDER SECTION */
.blog-slider-section{
	padding-top:50px;
	padding-bottom:50px;
}

.blog-slider-section *{
	outline: none;
}
.blog-slider-section h4,
.blog-slider-section .h4-class{
	font-size:21px;
}
.blog-slider-section .entry{
	padding:0px 35px;
}

.blog-slider-section .slick-arrow{
	background-color:rgba(0,0,0,0);
	color:#013e7f;
	border:0px;
}
.blog-slider-section .slick-prev{
	position: absolute;
    top: 30%;
    left: 0px;
    z-index:10;
}
.blog-slider-section .slick-next{
	position: absolute;
    top: 30%;
    right: 0px;
    z-index:10;
}

.img-same-height{
	position: relative;
	padding-bottom: 70%;
	overflow: hidden;
	width: 100%;
}
.img-same-height img{
	position: absolute;
    height: 45%;
    width: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    transform: scale(2);
}


/* BLOG SECTION */
.blog-section{
	padding-top:50px;
	padding-bottom:50px;
	font-weight: 300;
	letter-spacing: 1px;
}
.blog-section img{
	padding-bottom:10px;
}
.blog-section  h2,
.blog-section  .h2-class,
.blog-section  span,
.blog-section  p{
    font-weight: 300;
	letter-spacing: 1px;
}

/* TESTIMONIAL SECTION */
.testimonial-section{
	padding:40px 0px;
}
.testimonial-section *{
	outline: none;
}
.testimonial-section .see-more{
	font-size: 17px;
	padding-top:20px;
	text-align: center;
}
.testimonial-section .see-more a{
	color: #343537;
}
.testimonial-section .image-wrapper{
	position:relative;
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
}
.testimonial-section .image-wrapper .btn-play{
    background-color: #013e7f;
    border-radius: 50px;
    color: #fff;
    cursor:pointer;
    display: inline-block;
    font-size: 20px;
    opacity:0.9;
    padding: 14px 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.testimonial-section .image-wrapper .btn-play:hover{
    opacity:1;
}
.testimonial-section .text-wrapper,
.testimonial-section .text-wrapper p{
	font-size: 22px;
    font-style: italic;
    margin-top: 25px;
    line-height: 40px;
}

/* CONTACT US SECTION */
.contact-us-section{
	padding-top:20px; padding-bottom: 40px;
}
/* AWARDS SECTION */
.awards-section{
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
}

/* FAQS SECTION */
.faqs-section .faq{
	padding-bottom:20px;
}
.faqs-section .faq .question{
	background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 40px 15px 20px;
    position: relative;
}
.faqs-section .question.toggled{
	background-color: #013e7f;
	color:#fff;
}
.faqs-section .faq .question .expand{
	position: absolute;
    right: 15px;
    top: 20px;
}
.faqs-section .faq .answer{
    padding: 15px 20px;
}

/* DEFAULT SECTION CONTENT*/
.default-section{
	padding-top:30px;
	padding-bottom:50px;
}

/* HEADER */
.header{
	box-shadow: 0 5px 22px 0 rgba(0,0,0,0.5);
	padding:30px 0px 20px 0px;
	position: relative;
	z-index: 10px;
}
.header .logo{
	display: inline-block;
	position: relative;
	width:75%;
    padding: 0px 0px 19px 0px;
}
.header .location{
	color: #033162;
	font-size: 20px;
	font-weight: 600;
	position:relative;
	padding-bottom: 20px;
}
#header-menu {
	display: none;
}
.header .menu  ul{
	font-size:0px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
.header .menu li{
	display: block;
	position:relative;
}
.header .menu li a{
	color: #033162;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding:10px 15px;
	text-decoration: none;
}

#header-menu li > a:after { font-family:fontawesome; content: ' \f0d7'; } 
#header-menu li > a:only-child:after { content: ''; }   

/*DROP*/
#header-menu ul ul{
	display:none;
}
#header-menu ul ul li a{
	color:#4a4a4a;
	font-size: 13px;
    font-weight: normal;
	padding:10px 28px;
}
#header-menu ul ul li a:hover{
	color:#000;
}
#header-menu ul li:hover > ul{
	display: block;
}






.header .phone{
	text-align: right;
	display: block;
}
.header .phone a{
	color: #033162;
	font-size: 27px;
	font-weight: 600;
	text-decoration: none;
}

#menu-toggle{
	display: inline-block;
	width: 40px;
	height: 25px;
	position: absolute;
	top:16px;
	right:15px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#menu-toggle span{
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #003e7e;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#menu-toggle span:nth-child(1) {
	top: 0px;
}
#menu-toggle span:nth-child(2) {
	top: 10px;
}
#menu-toggle span:nth-child(3) {
	top: 20px;
}
#menu-toggle.open span:nth-child(1) {
	top: 10px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
#menu-toggle.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}
#menu-toggle.open span:nth-child(3) {
	top: 10px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/* BANNER */
.banner{
	padding:100px 0px;
	background-size: cover;
}
.banner .text-wrapper{
	background-color: rgba(255,255,255,0.7);
	box-shadow: 2px 2px 5px #333;
	padding: 40px 30px 45px 30px;
}
.banner .text-wrapper h1, .banner .text-wrapper .h1-class{
	color: #013e7f;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner .text-wrapper h2,
.banner .text-wrapper .h2-class{
	color:#013e7f;
    font-family: 'Open Sans';
    font-weight: 700;
}
.banner .text-wrapper p{
	color:#013e7f;
	font-weight: 600;
}
.banner .text-wrapper .btn-banner{
    background-color: #013e7f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    margin-top:10px;
    padding: 10px 25px;
    text-decoration: none;
}
.banner .text-wrapper .btn-banner:hover{
    background-color: #062f5a;
}



.home-banner-section .banner-slider{
	position: relative;
    background-color: #063363;
}

.home-banner-section .banner-slides{
	background-size:cover;
	position: relative;
	min-height: 450px;
	padding: 100px 0px;
}
.home-banner-section ul.slick-dots{
   	position: absolute; 
	left: 0; 
	right: 0; 
    bottom: 30px;
	margin-left: auto; 
	margin-right: auto;
	width:100%;
	outline: none;
}
.home-banner-section .slick-dots button {
    background-color: #fff;
    opacity: 0.4;
}

.home-banner-section .slick-active button{
	opacity: 1;
}
.home-banner-section .slick-prev{
   	background-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 17px;
    padding: 50px 10px;
    z-index: 9999;
    height:100%;
    outline: none;
}
.home-banner-section .slick-next{
	background-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 17px;
    padding: 50px 10px;
    z-index: 9999;
    height:100%;
    outline: none;
}
.home-banner-section .text-wrapper{
	background-color: rgba(255,255,255,0.7);
	box-shadow: 2px 2px 5px #333;
	padding: 40px 30px 45px 30px;
}
.home-banner-section .text-wrapper h1, .home-banner-section .text-wrapper .h1-class{
	color: #013e7f;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}
.home-banner-section .text-wrapper h2,
.home-banner-section .text-wrapper .h2-class{
	color:#013e7f;
    font-family: 'Open Sans';
    font-weight: 700;
}
.home-banner-section .text-wrapper p{
	color:#013e7f;
	font-weight: 600;
}
.home-banner-section .text-wrapper .btn-banner{
    background-color: #013e7f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    margin-top:10px;
    padding: 10px 25px;
    text-decoration: none;
}
.home-banner-section .text-wrapper .btn-banner:hover{
    background-color: #062f5a;
}
.home-banner-section .watermark{
	position: absolute;
	bottom: 0px;
	right:0px;
	z-index: 10;
	padding: 20px 20px 80px 20px;
	width:250px;
}
.home-banner-section .bottom-caption{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    font-size: 16px;
	padding: 10px;
	text-align: center;
    opacity: 0.95;
}

.home-banner-section .text-wrapper .btn-banner{
    background-color: #013e7f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    margin-top:10px;
    padding: 10px 25px;
    text-decoration: none;
}
.home-banner-section .text-wrapper .btn-banner:hover{
    background-color: #062f5a;
}


/*
.banner-section{
	position: relative;
}
.banner-section .banner-slider,
.banner-section .banner-slider .slick-list,
.banner-section .banner-slider .slick-track{
	position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.banner-section .banner-slider .slides{
	background-size: cover;
	position: relative;
}
.banner-section .banner-slider ul.slick-dots{
   	position: absolute; 
	left: 0; 
	right: 0; 
    bottom: 30px;
	margin-left: auto; 
	margin-right: auto;
	width:100%;
}
.banner-section .banner-slider .slick-dots button {
    background-color: #fff;
    opacity: 0.4;
}

.banner-section .banner-slider .slick-active button{
	opacity: 1;
}
.banner-section .banner-slider .slick-prev{
   	background-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 17px;
    padding: 50px 10px;
    z-index: 9999;
}
.banner-section .banner-slider .slick-next{
	background-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    top: 30%;
    right: 17px;
    padding: 50px 10px;
    z-index: 9999;
}
.banner-section .banner-slides{
	position:absolute;
	top: 0px;
	left: 0px;
}
.banner-section .watermark{
	position: absolute;
	bottom: 0px;
	right:0px;
	z-index: 10;
	padding:20px;
	width:250px;
}
.banner-section .bottom-caption{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    font-size: 16px;
	padding: 10px;
	text-align: center;
    opacity: 0.95;
}*/

/* ZIP LOCATOR*/
.zip-locator{
	background-color: #0f5fa9;
	padding: 20px 0px;
	width:100%;
}

.zip-locator-fixed{
	position: fixed;
    top: 0px;
    left: 0px;
    z-index:11;
}

.zip-locator .text-wrapper2{
	padding-top:2px;
}
.zip-locator .text-wrapper,
.zip-locator .text-wrapper2,
.zip-locator .free-consultation{
	color: #fdfefe;
	display: block;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1.4px;
	text-align: center;
}
.zip-locator  .text-wrapper b,
.zip-locator  .text-wrapper2 b{
	font-size: 23px;
	font-weight: bold;
	display: block;
	vertical-align: -3px;
}
.zip-locator .form-wrapper{
	text-align: center;
}
.zip-locator .form-wrapper input,
.zip-locator .form-wrapper select{
	border: none;
	border-radius: 0px;
	height:30px;
	margin-bottom: 5px;
	vertical-align: middle;
	width:100%;
}
.zip-locator .form-wrapper input{
	padding:0px 10px;
}
.zip-locator .form-wrapper select{
	padding:0px 5px;
}
.zip-locator .form-wrapper input[type="submit"]{
	background-color: #013a77;
	border: none;
	color: #fff;
	font-size: 16px;
	width: 60px;
}
.zip-locator .btn-request-consultation{
	color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    display: inline-block;
    padding: 2px 10px;
    border: none;
    background-color: #85D206;
    text-decoration: none;
    position: relative;
    margin-right: 3px;
    font-weight: normal;
}

/* Mega Menu */
.mega-menu{
	background-color: #fff;
    box-shadow: 0px 4px 5px #e1e1e1;
    padding: 25px;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0px auto;
	z-index: 10;
	opacity:;
}
.mega-menu hr{
    border-bottom: 3px solid #dfdfdf;
    margin: 10px 0px 30px 0px;
}
.mega-menu span.heading{
	font-size: 20px;
    font-weight: bold;
    color: #063363;
}
.mega-menu span.title{
	color: #656561;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 10px 0px;
    display: block;
}
.mega-menu span.title.blue{
	color: #063363;
}
.mega-menu span.heading a{
	color: #656561;
}
.mega-menu ul{
	list-style: none;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}
.mega-menu ul.three-list{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}
.mega-menu li{
	padding: 0px 0px 8px 0px;
}
.mega-menu li a{
	color: #a9a9a9;
	font-weight: bold;
}
.mega-menu .blog-post{
	margin: 0px;
    border: 1px solid #ccc;
    padding: 20px 10px;
}
.mega-menu .blog-post span.heading{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0px 0px 10px 0px;
    display: block;
}
.mega-menu .blog-post p{
	font-size: 14px;
}
.mega-menu .post-img{
	overflow: hidden;
	position: relative;
}


/* BG */
.bg-blue{
	background: rgb(6, 51, 99);
	color:#fff;
	position:relative;
}

.bg-light-blue{
	background: rgb(1, 62, 127);
	color:#fff;
	position:relative;
}
.bg-gray{
	background-color: #f5f5f5;
	color:#fff;
	position:relative;
}
.bg-blue-transparent{
	padding:40px;
    background-color: rgba(0,62,126,0.75);
}
.bg-blue-transparent p,
.bg-blue-transparent h1,
.bg-blue-transparent .h1-class,
.bg-blue-transparent h2,
.bg-blue-transparent .h2-class,
.bg-blue-transparent h3,
.bg-blue-transparent .h3-class,
.bg-blue-transparent h4,
.bg-blue-transparent .h4-class,
.bg-blue-transparent h5,
.bg-blue-transparent h6{
	color: #fff;
}
.bg-blue p,
.bg-light-blue p,
.bg-blue-transparent p{
	font-weight: 400;
}
.bg-blue h1, .bg-light-blue h1, .bg-blue-transparent h1,
.bg-blue .h1-class, .bg-light-blue .h1-class, .bg-blue-transparent .h1-class,
.bg-blue h2, .bg-light-blue h2, .bg-blue-transparent h2,
.bg-blue .h2-class, .bg-light-blue .h2-class, .bg-blue-transparent .h2-class,
.bg-blue h3, .bg-light-blue h3, .bg-blue-transparent h3,
.bg-blue .h3-class, .bg-light-blue .h3-class, .bg-blue-transparent .h3-class,
.bg-blue h4, .bg-light-blue h4, .bg-blue-transparent h4,
.bg-blue .h4-class, .bg-light-blue .h4-class, .bg-blue-transparent .h4-class,
.bg-blue h5, .bg-light-blue h5, .bg-blue-transparent h5,
.bg-blue h6, .bg-light-blue h6, .bg-blue-transparent h6,
.bg-blue p,  .bg-light-blue p,  .bg-blue-transparent p,
.bg-blue ul, .bg-light-blue ul, .bg-blue-transparent ul{
	color:#fff;
}

/* TEMPLATE DEFAULT */
.template-default .content01,
.default-content{
	padding-top:30px;
	padding-bottom: 50px;
}

/* TEMPLATE HOME */
.template-home .content01{
	padding-top:40px;
	padding-bottom: 160px;
}
.template-home .content02{
	background-color: rgba(0,0,0,0);
	position:relative;
	z-index:5;
	margin-top:-100px;
}
.template-home .content02 .blurb{
	padding-bottom:40px;
	text-align: center;
}
.template-home .content02 .blurb .image{
	height:200px;
}
.template-home .content02 .blurb .image img{
	margin:0px auto;
	border:5px solid #fff;
	border-radius: 100px;
	height:100%;
}
.template-home .content02 .blurb .title{
	color: #0093d0;
	font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    margin:15px 0px;
}
.template-home .content02 .blurb .description{  }
.template-home .content02 .blurb .link a{
	color: #013e7f;
    font-weight: 700;
    display: inline-block;
    margin-top: 30px;
}
.template-home .content03{
	padding-top:30px;
	padding-bottom:50px;
}


/* TEMPLATE WHY JAN PRO */
.template-why-jan-pro{
	line-height: 27px;
}
.template-why-jan-pro .top-section,
.template-why-jan-pro .content01,
.template-why-jan-pro .content02,
.template-why-jan-pro .content03,
.template-why-jan-pro .content04{
	padding-top:40px;
	padding-bottom:40px;
}

/* TEMPLATE INDUSTRIES WE SERVE */
.template-industries-we-serve .top-section{
	padding-top: 30px;
	padding-bottom: 30px;
}
.template-industries-we-serve .content01{
	padding-top: 40px;
}
.template-industries-we-serve .content01 .blurb{
	padding:30px 0px;
	text-align: center;
}
.template-industries-we-serve .content01 img{
	border-radius: 100%;
	margin:20px auto;
	opacity:0.9;
}
.template-industries-we-serve .content01 img:hover{
	opacity:1;
}
.template-industries-we-serve .content01 a{
	color: #013e7f;
	font-size:20px;
	font-weight: 700;
    margin-top: 30px;
    padding-top:20px;
}
.template-industries-we-serve .content02{
	padding-top:40px;
	padding-bottom:40px;
}

/* TEMPLATE INDUSTRY DETAIL */
.template-industry-details .content01{
	padding-top:40px;
}
.template-industry-details .content01 p{
	font-family: 'Open Sans';
	font-size: 20px;
    font-weight: 300;
    color: #013e7f;
}
.template-industry-details .content02{
	padding-top:40px;
	padding-bottom:40px;
}

/* TEMPLATE NATIONAL ACCOUNTS */
.template-national-accounts .content01{
	line-height: 27px;
	padding-top:40px;
	padding-bottom: 40px;
}
.template-national-accounts .content01 .contact-form{
	margin-top:20px;
	border:1px solid #d2d2d2;
	padding:20px;
	text-align: center;
}
.template-national-accounts .content01 li{
	font-size: 20px;
    line-height: 27px;
    padding-bottom: 10px;
}  
.template-national-accounts .content03{
	text-align: center;
	padding-top:30px;
	padding-bottom: 40px;
}

.template-national-accounts .content03 .btn-custom{
	background: #0e6ab2;
    border-color: #0e6ab2;
    border-radius: 9px;
    box-shadow: 2px 2px 0px #000;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    padding:10px 16px;
    text-decoration: none;
}

.template-national-accounts .content04,
.template-national-accounts .content04 h1,
.template-national-accounts .content04 .h1-class,
.template-national-accounts .content04 h2,
.template-national-accounts .content04 .h2-class,
.template-national-accounts .content04 h3,
.template-national-accounts .content04 .h3-class,
.template-national-accounts .content04 h4,
.template-national-accounts .content04 .h4-class,
.template-national-accounts .content04 h5,
.template-national-accounts .content04 h6{
	color:#fff;
}
.template-national-accounts .content04{
	line-height: 27px;
}
.template-national-accounts .content05{
	padding-top:30px;
	padding-bottom:30px;
	text-align: center;
}
.template-national-accounts .content05 img{
	display: block;
    max-width: 50%;
    padding: 15px;
    margin: 0px auto;
}

/* TEMPLATE FRANCHISING */
.template-franchising .content01{
	padding-top:30px;
	padding-bottom:80px;
}
.template-franchising .content01 .blurb{
	text-align: center;
	padding-bottom:30px;
}
.template-franchising .content01 .heading h1,
.template-franchising .content01 .heading .h1-class{
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	padding-top:30px;
	padding-bottom: 40px;
}
.template-franchising .content01 .blurb .image-wrapper img{
	border-radius: 100%;
	margin:0px auto;
}
.template-franchising .content01 .blurb .title-wrapper{
    color: #003e7e;
    font-size: 20px;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 15px;
}
.template-franchising .content01 .blurb .description-wrapper{
    line-height: 27px;
    font-size: 15px;
}
.template-franchising .content01 .blurb .button-wrapper a{
	background-color: #08c;
	color:#fff;
	cursor: pointer;
	display: inline-block;
	padding:10px 15px;
	margin:20px 0px;
	text-decoration: none;
}
.template-franchising .content01 .blurb .button-wrapper a:hover{
	background-color:#0574ab;
}

/* TEMPLATE OPPORTUNITIES STYLE 1*/
/* TAB MENU */
.franchise-opportunities .tab-menu{
	margin-top: -71px;
}
.franchise-opportunities .tab-menu ul{
	font-size: 0px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.franchise-opportunities .tab-menu li{
	display: block;
}
.franchise-opportunities .tab-menu li a{
	background-color: #fafafa;
	color:#6f6f6f;
	cursor: pointer;
	display: block;
    font-size: 19px;
    font-weight: 300;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 50px;
    text-decoration: none;
    vertical-align: middle;
}
.franchise-opportunities .tab-menu li a b{
	font-size: 50px;
    font-weight: 700;
    vertical-align: middle;
}
.franchise-opportunities .tab-menu li a:hover{
	background-color: #013e7f;
	color:#fff;
}
.franchise-opportunities .tab-menu li a.active{
	background-color: #013e7f;
	color:#fff;
}
/* TAB 1 SECTION 1 */
.template-opportunities-style-1 #tab-page-1 .content01{
	padding-top:70px;
	padding-bottom: 50px;
}
.template-opportunities-style-1 #tab-page-1 .content01 h2,
.template-opportunities-style-1 #tab-page-1 .content01 .h2-class{
    font-weight: 300;
}
.template-opportunities-style-1 #tab-page-1 .content01,
.template-opportunities-style-1 #tab-page-1 .content01 p{
    font-weight: 300;
    line-height: 33px;
}
.template-opportunities-style-1 #tab-page-1 .content01 img{
	margin-top:70px;
}

/* TAB 1 SECTION 2 */
.template-opportunities-style-1 #tab-page-1 .content02{
	padding-top:20px;
	padding-bottom: 20px;
}
.template-opportunities-style-1 #tab-page-1 .content02 .lols{
	padding:20px 0px;
}
.template-opportunities-style-1 #tab-page-1 .content02 .lols .title h4,
.template-opportunities-style-1 #tab-page-1 .content02 .lols .title .h4-class{
	display:inline;
	vertical-align: middle;
}
.template-opportunities-style-1 #tab-page-1 .content02,
.template-opportunities-style-1 #tab-page-1 .content02 p{
	font-size: 13px;
    line-height: 26px;
}
.template-opportunities-style-1 #tab-page-1 .content02 img{
	width:auto;
	max-width: 100%
}

/* TAB 2 SECTION 1 */
.template-opportunities-style-1 #tab-page-2 .content01{
	padding-top:70px;
	padding-bottom: 50px;
}
.template-opportunities-style-1 #tab-page-2 .content01 h2,
.template-opportunities-style-1 #tab-page-2 .content01 .h2-class{
    font-weight: 300;
}
.template-opportunities-style-1 #tab-page-12 .content01,
.template-opportunities-style-1 #tab-page-2 .content01 p{
    font-weight: 300;
    line-height: 33px;
}
.template-opportunities-style-1 #tab-page-2 .content01 img{
	margin-top:70px;
}

/* TAB 2 SECTION 2 */
.template-opportunities-style-1 #tab-page-2 .content02 .desc{
	padding:40px 0px;
}
.template-opportunities-style-1 #tab-page-2 .content02,
.template-opportunities-style-1 #tab-page-2 .content02 p{
	font-size: 13px;
    line-height: 26px;
}

/* TAB 2 SECTION 3 */
.template-opportunities-style-1 #tab-page-2 .content03{
	padding-top:50px;
	padding-bottom: 50px;
	margin-bottom:50px;
}
.template-opportunities-style-1 #tab-page-2 .content03 .desc{
	display: inline-block;
}
.template-opportunities-style-1 #tab-page-2 .content03 .desc img{
	margin:0px auto;
}
.template-opportunities-style-1 #tab-page-2 .content03 .btn-download{
	background: #0093d0;
    border-color: #0093d0;
    color: #ffffff;
    display:inline-block;
    padding:10px 16px;
    border-radius: 5px;
    margin-top:20px;
    text-decoration: none;
}

/* TAB 2 SECTION 4 */
.template-opportunities-style-1 #tab-page-2 .content04{
	padding-top:40px;
}
.template-opportunities-style-1 #tab-page-2 .content04,
.template-opportunities-style-1 #tab-page-2 .content04 p{
	font-weight: 14px;
}

/* TAB 3 SECTION 1 */
.template-opportunities-style-1 #tab-page-3 .content01{
	padding-top:50px;
	padding-bottom: 50px;
}


/* TEMPLATE OPPORTUNITIES STYLE 2*/
/* TAB 1 SECTION 1 */
.template-opportunities-style-2 #tab-page-1 .content01{
	padding-top:70px;
	padding-bottom: 50px;
}
.template-opportunities-style-2 #tab-page-1 .content01 h2,
.template-opportunities-style-2 #tab-page-1 .content01 .h2-class{
    font-weight: 300;
}
.template-opportunities-style-2 #tab-page-1 .content01,
.template-opportunities-style-2 #tab-page-1 .content01 p{
    font-weight: 300;
    line-height: 33px;
}
.template-opportunities-style-2 #tab-page-1 .content01 img{
	margin-top:70px;
}

/* TAB 1 SECTION 2 */
.template-opportunities-style-2 #tab-page-1 .content02{
	padding-top:20px;
	padding-bottom: 20px;
}
.template-opportunities-style-2 #tab-page-1 .content02 .lols{
	padding:20px 0px;
}
.template-opportunities-style-2 #tab-page-1 .content02 .lols .title h4,
.template-opportunities-style-2 #tab-page-1 .content02 .lols .title .h4-class{
	display:inline;
	vertical-align: middle;
}
.template-opportunities-style-2 #tab-page-1 .content02,
.template-opportunities-style-2 #tab-page-1 .content02 p{
	font-size: 13px;
    line-height: 26px;
}
.template-opportunities-style-2 #tab-page-1 .content02 img{
	width:auto;
	max-width: 100%
}

/* TAB 2 SECTION 1 */
.template-opportunities-style-2 #tab-page-2 .content01{
	padding-top:70px;
	padding-bottom: 50px;
}
.template-opportunities-style-2 #tab-page-2 .content01 h2,
.template-opportunities-style-2 #tab-page-2 .content01 .h2-class{
    font-weight: 300;
}
.template-opportunities-style-2 #tab-page-12 .content01,
.template-opportunities-style-2 #tab-page-2 .content01 p{
    font-weight: 300;
    line-height: 33px;
}
.template-opportunities-style-2 #tab-page-2 .content01 img{
	margin-top:70px;
}

/* TAB 2 SECTION 3 */
.template-opportunities-style-2 #tab-page-2 .content03{
	padding-top:40px;
	padding-bottom:40px;
}
.template-opportunities-style-2 #tab-page-2 .content03,
.template-opportunities-style-2 #tab-page-2 .content03 p{
	font-weight: 14px;
}

/* TAB 2 SECTION 4 */
.template-opportunities-style-2 #tab-page-2 .content04{
	padding-top:50px;
	padding-bottom: 50px;
}
.template-opportunities-style-2 #tab-page-2 .content04 .desc{
	display: inline-block;
}
.template-opportunities-style-2 #tab-page-2 .content04 .desc img{
	margin:0px auto;
}
.template-opportunities-style-2 #tab-page-2 .content04 .btn-download{
	background: #0093d0;
    border-color: #0093d0;
    color: #ffffff;
    display:inline-block;
    padding:10px 16px;
    border-radius: 5px;
    margin-top:20px;
    text-decoration: none;
}

/* TAB 3 SECTION 1 */
.template-opportunities-style-2 #tab-page-3 .content01{
	padding-top:50px;
	padding-bottom: 50px;
}

/* TEMPLATE TESTIMONIALS*/
.template-testimonials .content01{
	padding:80px;
	padding:100px;
}
.template-testimonials .content01 .featured{
	text-align: center;
}
.template-testimonials .content01 .featured .image-wrapper{
	position:relative;
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
}
.template-testimonials .content01 .featured .image-wrapper img{
	margin:0px auto;
}
.template-testimonials .content01 .featured .image-wrapper .btn-play{
	background-color: #013e7f;
    border-radius: 50px;
    color: #fff;
    cursor:pointer;
    display: inline-block;
    font-size: 20px;
    opacity:0.9;
    padding: 14px 20px;
    position: absolute;
    bottom: -20px;
    right: -20px;
}
.template-testimonials .content01 .featured .image-wrapper span{
	font-size: 14px;
    line-height: 15px;
    color: #898989;
    position: absolute;
    bottom: -20px;
    left: -20px;
    color: #013e7f;
    font-size: 18px;
    font-weight: 700;
}
.template-testimonials .content01 .featured .image-wrapper .btn-play:hover{
    opacity:1;
}
.template-testimonials .content01 .featured .text-wrapper{
	font-size: 15px;
	font-weight: 300;
	padding: 30px 0px;
}
.template-testimonials .content01 .featured .text-wrapper-2{
   	color:#888;
    font-size: 16px;
    font-weight: 600;
}
.template-testimonials .content02{
	padding:30px;
	padding:50px;
}

/* TEMPLATE ABOUT US */
.template-about-us .content01{
	padding:50px;
}
.template-about-us .content02{
}
.template-about-us .content03{
	padding:50px;
}
.template-about-us .content03 .btn-custom{
	background: #0e6ab2;
    border-color: #0e6ab2;
    border-radius: 9px;
    box-shadow: 2px 2px 0px #000;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    padding:10px 16px;
    text-decoration: none;
}

/* TEMPLATE CONTACT US */
.template-contact-us .content01{
	padding-top:50px;
	padding-bottom:50px;
}
.template-contact-us .tab-menu {
	font-size: 20px;
    line-height: 27px;
	display:block;
	width: 100%;

}
.template-contact-us .tab {
	display: block;
	text-align: center;
	vertical-align:middle;
	padding:20px;
	cursor: pointer;
}
.template-contact-us .tab-page{
	padding:20px;
	min-height: 500px;
}
.template-contact-us .tab1, .template-contact-us .tab-page-1{
	background-color: #0e85c2;
}
.template-contact-us .tab2, .template-contact-us .tab-page-2{
	background-color: #0a56a6;
}
.template-contact-us .tab3, .template-contact-us .tab-page-3{
	background-color: #1b4169;
}
.template-contact-us .content01 h1
.template-contact-us .content01 .h1-class,
.template-contact-us .content01 h2,
.template-contact-us .content01 .h2-class,
.template-contact-us .content01 h3,
.template-contact-us .content01 .h3-class,
.template-contact-us .content01 h4,
.template-contact-us .content01 .h4-class,
.template-contact-us .content01 h5,
.template-contact-us .content01 h6,
.template-contact-us .content01 p,
.template-contact-us .content01{
	color:#fff;
}

/* TEMPLATE BLOG */
.template-blog .content01{
	padding-top:50px;
	padding-bottom: 50px;
}
.template-blog .content01 .blog-listings .h2-class,
.template-blog .content01 .blog-listings h2{
	font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #013e7f;
}
.template-blog .content01 .blog-listings,
.template-blog .content01 .blog-listings p{
	font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 1px;
    color: #545454;
}
.template-blog .content01 .blog-listings hr{
	margin-top:50px;
}
.template-blog .content01 .category ul{
	list-style: none;
	margin: 0px;
	font-size: 18px;
	padding:0px;
}

/* CATEGORY.PHP */
.category-php .content01{
	padding-top:50px;
	padding-bottom: 50px;
}
.category-php .content01 .blog-listings h2,
.category-php .content01 .blog-listings .h2-class{
	font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #013e7f;
}
.category-php  .content01 .blog-listings,
.category-php .content01 .blog-listings p{
	font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 1px;
    color: #545454;
}
.category-php  .content01 .blog-listings hr{
	margin-top:50px;
}
.category-php  .content01 .category ul{
	list-style: none;
	margin: 0px;
	font-size: 18px;
	padding:0px;
}
.category-php .content01 .category ul{
	list-style: none;
	margin: 0px;
	font-size: 18px;
	padding:0px;
}

/* SINGLE.PHP */
.single-php .container01{
	padding-top:50px;
	padding-bottom: 50px;
}
.single-php .social-links  ul{
	font-size:0px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.single-php .social-links li{
	display: inline;
}
.single-php .social-links li a{
	background-color: #004b9e;
	border-radius: 100px;
	color: #fff;
	display: inline-block;
	font-size: 26px;
	margin: 5px;
	padding: 7px 8px;
	transition: transform 0.6s;
}
.single-php .social-links li a:hover{
	color: #fff;
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}


/* FOOTER */
.footer{
	padding-top:40px;
}
.footer .logo img{
	margin-left:auto;
	margin-right: auto;
}
.footer .menu{
	padding-top: 20px;
}
.footer .menu  ul{
	font-size:0px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.footer .menu li{
	display: block;
}
.footer .menu li a{
	color: #fff;
	display: inline-block;
	font-size:14px;
	padding-bottom:20px;
}
.footer .site-info{
	padding-top: 20px;
}
.footer .site-info p{
	color:#fff;
	font-weight: 600;
	text-align: center;
}
.footer .social-links{
	padding-top:20px;
}
.footer .social-links  ul{
	font-size:0px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.footer .social-links li{
	display: inline;
}
.footer .social-links li a{
	background-color: #fff;
	border-radius: 100px;
	color: #000;
	display: inline-block;
	font-size: 26px;
	margin: 5px;
	padding: 7px 8px;
	transition: transform 0.6s;
}
.footer .social-links li a:hover{
	background-color: #0f5fa9;
	color: #fff;
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}
.footer .site-copyright{
	padding:10px 0px;
}
.footer .site-copyright p{
	color:#fff;
	font-weight: 300;
}

/* MEDIA QUERY*/
@media screen and (min-width: 425px) {
	.header .logo{
		width:auto;
	}
}

@media screen and (min-width: 640px) {
	/*HEADER*/
	.header .location{
		position: absolute;
		top: 5px;
    	left: 305px;
    	width:100%;
	}

	/*ZIP LOCATOR*/
	.zip-locator  .text-wrapper b{
		display: inline-block;
	}
	.zip-locator .form-wrapper input,
	.zip-locator .form-wrapper select{
		margin-bottom: 0px;
		width:200px;
	}

	/* Banner */
	.home-banner-section .banner-slides {
	   height: 450px;
	}
}

@media screen and (min-width: 768px) {
	/*BLOG SLIDER SECTION*/
	.blog-slider-section .entry{
		padding:0px 15px;
	}
	.blog-slider-section .slick-prev{
		position: absolute;
	    top: 43%;
	    left: -20px;
	    z-index:10;
	}
	.blog-slider-section .slick-next{
		position: absolute;
	    top: 43%;
	    right: -20px;
	    z-index:10;
	}

	.zip-locator .text-wrapper{
		text-align: right;
	}
	.zip-locator .text-wrapper2{
		text-align: left;
	}

	/*FRANCHISE-OPPORTUNITIES*/
	.franchise-opportunities .tab-menu li{
		display: inline;
	}
	.franchise-opportunities .tab-menu li a{
		display: inline-block;
	}

	/* FOOTER */
	.footer .logo img{
		margin:0px;
	}
	.footer .menu{
		padding-top: 0px;
	}
	.home-banner-section .bottom-caption{
		font-size: 18px;
    	padding: 14px 100px 14px 100px;
	}
}

@media screen and (min-width: 992px) {
	/*TESTIMONIAL SECTION*/
	.testimonial-section .see-more{
		padding-top:0px;
		text-align: right;
	}
	
	/* HEADER */
	#menu-toggle{
		display: none;
	}
	.header{
		padding:30px 0px 0px 0px;
	}
	.header .menu{
	    margin: 30px 0px 0px 0px;
	}
	.header .menu li{
		display: inline-block;
	}
	.header .menu li a{
		font-size:12px;
		padding:10px 12px;
		position: relative;
    	z-index: 10;
	}
	.header .menu  li a:hover{
		border-bottom: 4px solid #033162;
	}
	.header .menu  li li a:hover{
		border-bottom: 0px;
	}
	#header-menu{
		display:block !important;
	}
	/*DROP*/
	#header-menu ul ul{
		display:none;
	}

	#header-menu ul > li > ul {
	    position: absolute;
	    top: 40px;
	    left: 0px;
	    z-index:10;
	    text-align: left;

	}
	#header-menu ul ul li a{
		padding:10px 15px;
		display:block;
	}
	#header-menu ul li:hover > ul{
		display: block;
    	background-color: #fff;
    	box-shadow: 2px 3px 3px #333;
	    width: 220px;
	    max-width: 320px;
        border: 3px solid #235f96;
	    border-radius: 5px;
	    left: -4px;
	        padding: 10px 0px;

	}
	.header .menu  li:hover > a{
		border-bottom: 4px solid #033162;
	}

	#header-menu li li {
		display:block;
		position: relative;
	}
	#header-menu ul ul ul{
	    position: absolute;
	    top: 0px;
	    left: 100%;
	}

	/* FOOTER */
	.footer .menu li a{
		padding-bottom:8px;
	}
	.footer .site-info{
		padding-top: 0px;
	}
	.footer .site-info p{
		text-align: right;
	}
	.footer .social-links  ul{
		text-align:right;
	}
	.footer .social-links li a{
		margin: 0px 0px 0px 10px;
	}
	.footer .site-copyright p{
		font-size:12px;
	}

	/* TEMPLATE NATIONAL ACCOUNTS */
	.template-national-accounts .content05 img{
		display: inline-block;
		max-width:30%;
	}
	
	/* TEMPLATE TESTIMONIALS */
	.template-testimonials .featured{
		padding:0px 50px;
	}

	.template-contact-us .tab-menu{
		display: table;
	}
	.template-contact-us .tab{
		display: table-cell;
	}

	.home-banner-section .bottom-caption{
		font-size: 28px;
    	padding: 14px 120px 14px 120px;
	}
	
}

@media screen and (min-width: 1200px) {
	/* HEADER */
	.header .menu li a{
		font-size:14px;
		padding:10px 15px;
	}
	#menu-default li a{
		font-size: 14px;
	}

	/* ZIP LOCATOR */
	.zip-locator .free-consultation{
		text-align: right;
	}
	.zip-locator .form-wrapper{
		text-align: left;
	}

	.template-about-us .content02{
		padding:100px;
		padding:100px;
	}
}








